.TodoItem {
    background: #32456a;
    padding: 5px;
    width: 200px;
    height: 150px;
    margin-top: 10px;
    margin-right: 10px;
    color: white;
    text-align: center;
    cursor: move;
    border: 2px solid #666666;
    -webkit-border-radius: 10px;
    -ms-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 3px #000;
    -ms-box-shadow: inset 0 0 3px #000;
    box-shadow: inset 0 0 3px #000;
}

.over {
  border: 2px #000;
}

.TodoItem.dragStart {
  opacity: 0.4;
}

.TodoItem span {
  float: right;
  margin-right: 5px;
}

span:hover {
  cursor: pointer;
}

.TodoItem .status {
  float: left;
  padding: 5px;
  background: #3677a1;
  border-radius: 25px;
  border: #013a5f 1px solid;
  font-weight: bolder;
}

.TodoItem .body {
  clear: both;
}
